// per la sezione dell'index.php
section.show_all_movies{
  min-height: calc(100vh - 70px - 30px);
  h3{
    margin: 20px 0;
    text-align: center;
  }
  a.btn-primary{
    margin: 20px 0;
  }
  .form_delete{
    display: inline;
    input[type="submit"]{
      color: #007bff;
      text-decoration: none;
      background-color: transparent;
      border: none;
      &:hover{
        color: #0056b3;
        text-decoration: underline;
      }
    }
  }
  table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
    margin: 0 auto;
  }

  td, th {
    border-top: 1px solid #a7b8d6;
    border-bottom: 1px solid #a7b8d6;
    text-align: left;
    padding: 6px;
  }

  tr:nth-child(even) {
    background-color: #dfe5ed;
  }
  td.no_movies{
    background-color: white;
    border-bottom: none;
  }
}

section.show_single_movie{
  min-height: calc(100vh - #{$header_height} - #{$footer_height});
  .container{
    min-height: calc(100vh - #{$header_height} - #{$footer_height});
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    h4{
      margin-bottom: 50px;
    }
    .btn{
      margin-top: 15px;
    }
  }
}
